.Botao_especial,
.Botao_especial:hover,
.Botao_especial:focus {
  background: rgb(255, 111, 0);
  transition: 0.5s;
  animation: piscarRGB 1.5s infinite;
}

@keyframes piscarRGB {
  0% {
    background-color: rgb(255, 0, 0);
  }
  10% {
    background-color: rgb(0, 255, 0);
  }
  20% {
    background-color: rgb(0, 0, 255);
  }
  30% {
    background-color: rgb(255, 0, 153);
  }
  40% {
    background-color: rgb(255, 242, 0);
  }
  50% {
    background-color: rgb(0, 166, 255);
  }
  60% {
    background-color: rgb(255, 0, 0);
  }
  70% {
    background-color: rgb(85, 0, 255);
  }
  80% {
    background-color: rgb(102, 255, 0);
  }
  90% {
    background-color: rgb(0, 255, 242);
  }
  100% {
    background-color: rgb(255, 0, 0);
  }
}

.container {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.input {
  padding: 20px;
  height: 40px;
  border-radius: 16px;
  border: 2px solid #c5c5c5;
  width: 100%;
  font-size: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  height: 86px;
  border-radius: 16px;
  background-color: rgb(255, 111, 0);
  border: 2px solid rgb(111, 48, 0);
  font-size: 32px;
  color: white;
}

.image {
  width: 15%;
  height: 15%;
}
